.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  font-family: var(--graphik);
}

.gallery-header {
  width: 90%;
  margin: auto;
}

.gallery-title {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
}

.gallery-content {
  font-size: 18px;
  margin-bottom: 30px;
}

.gallery-img1,
.gallery-img2 {
  width: 90%;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.imgs {
  border-radius: 10px;
  width: 150px;
}

.gallery-btn {
  padding: 30px;
}

.gallery-button {
  border: 1px solid #ffffff;
  background: black;
  color: #fff;
  padding: 10px 30px;
  width: 159px;
  height: 52px;
  cursor: pointer;
  border-radius: 3px;
}

.gallery-button:hover {
  background: #fff;
  color: black;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.gallery-btn-text {
  font-size: 17px;
}

@media screen and (min-width: 768px) {
  .gallery-img1,
  .gallery-img2 {
    width: 65%;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 20px;
  }

  .imgs {
    border-radius: 10px;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .gallery-img1,
  .gallery-img2 {
    width: 50%;
  }
}
