.testimonial {
  padding: 60px 0;
  color: #fff;
  text-align: center;
}

.testimonial-title {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 52px;
}

.testimonial-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 70px;
}

.testimonial-users {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 390px;
  padding: 40px 70px 40px 40px;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  text-align: left;
}

.testimonial-avatar {
  width: 50px;
  height: 50px;
}

.testimonial-heading {
  display: flex;
  align-items: center;
  gap: 20px;
}

.testimonial-person {
  font-family: var(--graphik);
  font-size: 16px;
}

.testimonial-position {
  font-family: var(--graphik);
  font-size: 16px;
}

.testimonial-describtion {
  font-family: var(--graphik);
  font-size: 16px;
}

@media screen and (max-width:768px) {
  .testimonial-users {
    width: 390px;
    padding: 40px 30px 40px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    text-align: left;
  }

}