:root {
  --graphik: 'Graphik', sans-serif;
  --bg-color: #181818;
  --btn-bg: #4452FE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: #FFFFFF;
  font-family: var(--graphik);
}