:root {
  --graphik: 'Graphik', sans-serif;
  --bg-color: #181818;
  --btn-bg: #4452fe;
}

body {
  font-family: var(--graphik);
  box-sizing: border-box;
  background: #181818;
  color: white;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


li {
  list-style-type: none;
}

li a {
  color: white;
  text-decoration: none;
}