.hero-section {
  background: var(--bg-color);
  margin: auto;
  text-align: center;
  color: #FFFFFF;
}

.hero-content {
  padding: 50px;
  max-width: 750px;
  margin: auto;
}

.hero-header {
  font-family: var(--graphik);
  font-weight: 500;
  font-size: 65px;
  padding-bottom: 30px;
}

.hero-header-description {
  max-width: 550px;
  margin: auto;
  font-family: var(--graphik);
  font-size: 18px;
  line-height: 30px;
}

.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 30px;
}

.hero-btn {
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  width: 160px;
  height: 50px;
  font-family: var(--graphik);
  color: #FFFFFF;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.hero-btn:hover {
  opacity: 2;
  transform: scale(1.1);
}

.hero-btn.left {
  background: var(--btn-bg);
  border: none;
}

.hero-btn.left:hover {
  background: white;
  color: black;
}

.hero-btn.right {
  background: var(--bg-color);
  border: 1px solid #FFFFFF;
}

.hero-btn.right:hover {
  background: #e7e7e7;
  color: black;
}

.hero-screen {
  align-self: center;
  width: 100%;
}

@media (min-width: 480px) and (max-width: 768px) {

  .hero-btns {
    display: flex;
    flex-direction: column;
  }

  .hero-header {
    font-size: 45px;
  }

  .hero-header-description {
    font-size: 16px;
  }
}